<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../HomePageStyle.css">
  <script src="https://kit.fontawesome.com/985f81e0fc.js" crossorigin="anonymous"></script>
  <title>My Spotiti</title>
</head>

<body>
  <div class="container">
    <div class="column column-1">

      
        <% if(status == "Membership"){ %>
          
          <%- include('sideBarMembership') %>
        <% } else{ %>
          <%- include('sideBar') %>
        <% } %>
         
      
    </div>
    <div class="column column-2">
      <div>
        <form id="searchForm" action="/HomePage" method="get">
            <input type="text" name="search" placeholder="Search song.."  />
            <button type="submit">Search</button>
          </form>
    </div>

      <div class="upgrade-button">
        <a href="/Membership" id="upgradeLink">upgrade</a>
      </div>
      <div class="made-for-you">
        
        <div class="image-container">
          <a href="#">
            
          </a>
        </div>
        <div><br></div>
        <h2>Song For You</h2>
        <ul class="song-list">
            <table>
              <thead>
                <tr>
                  <th>Judul</th>
                  <th>Artis</th>
                  <th>durasi</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% let i=1 %>
                <% for(let row of dataSong) { %>
                  <tr>
                    <td>
                      <%= row.judul %>
                    </td>
                    <td>
                      <%= row.artis %>
                    </td>
                    <td>
                      <%= row.durasi %>
                    </td>
                    <td>
                      <a href="/HomePage?jdl=<%= row.judul %>" class="play-button">
                        <button>Play</button>
                      </a>
                    </td> 
                  </tr>
                  <% i++ %>
                    <% } %>

              </tbody>
            </table>

            <!-- Tambahkan lebih banyak item lagu sesuai keinginan -->
        </ul>
      </div>
    </div>
    <div class="column column-3">
      <%- include('sideBar2') %>
    </div>
  </div>
</body>

</html>
